<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Watch TV Shows Online, Watch Movies Online | CSS Flex</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/css/styles.min.css/') }}">
  </head>

  <body>
    <header class="header">
      <nav class="nav">
        <img src="{{ url_for('static', path='images/netflix-logo.png') }}" alt="netflix logo" class="nav__logo">
        <button class="btn nav__btn">Sign In</button>
      </nav>

      <main class="main">
        <h1 class="heading-1">
          <span>Unlimited movies, TV</span>
          <span>shows and more.</span>
        </h1>
        <h2 class="heading-2">Watch anywhere. Cancel anytime.</h2>

        <div class="cta">
          <p class="cta__text">Ready to watch? Enter your email to create or restart your membership.</p>
          <form class="form">
            <div class="form__group">
              <input type="email" class="form__input" placeholder="Email address">
              <button class="form__btn">Get Started
                <span class="form__btn-icon">&gt;</span>
              </button>
            </div>
          </form>
        </div>
      </main>
    </header>

    <!-- section 1 -->
    <div class="divider"></div>
    <div class="container container-1">
      <section class="info">
        <div class="info__text-box">
          <h2 class="info__heading heading-1">Enjoy on your TV.</h2>
          <p class="info__paragraph">
            Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.
          </p>
        </div>
        <img src="{{ url_for('static', path='images/image 1.png') }}" alt="netflix image 1" class="info__image">
      </section>
    </div>
    <div class="divider"></div>

    <!-- section 2 -->
    <div class="container container-1">
      <section class="info">
        <img src="{{ url_for('static', path='images/image 2.png') }}" alt="netflix image 2" class="info__image">
        <div class="info__text-box">
          <h2 class="info__heading heading-1">Download your shows to watch offline.</h2>
          <p class="info__paragraph">
            Save your favorites easily and always have something to watch.
          </p>
        </div>
      </section>
    </div>
    <div class="divider"></div>

    <!-- section 3 -->
    <div class="container container-1">
      <section class="info section-3">
        <div class="info__text-box">
          <h2 class="info__heading heading-1">Watch everywhere.</h2>
          <p class="info__paragraph">
            Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.
          </p>
        </div>
      </section>
    </div>
    <div class="divider"></div>

    <!-- section 4 -->
    <div class="container container-1">
      <section class="info">
        <img src="{{ url_for('static', path='images/image 4.png') }}" alt="netflix image 4" class="info__image">
        <div class="info__text-box">
          <h2 class="info__heading heading-1">Create profiles for kids.</h2>
          <p class="info__paragraph">
            Send kids on adventures with their favorite characters in a space made just for them&nbsp;—&nbsp;free with
            your
            membership.
          </p>
        </div>
      </section>
    </div>
    <div class="divider"></div>

    <div class="container container-2">
      <section class="faq-section">
        <p class="faq-heading">Frequently Asked Questions</p>
        <div class="faqs">
          <div class="faq">
            <p class="faq__text">What is Netflix?</p>
            <div class="faq__icon">&plus;</div>
          </div>
          <div class="faq">
            <p class="faq__text">How much does Netflix cost?</p>
            <div class="faq__icon">&plus;</div>
          </div>
          <div class="faq">
            <p class="faq__text">Where can I watch?</p>
            <div class="faq__icon">&plus;</div>
          </div>
          <div class="faq">
            <p class="faq__text">How do I cancel?</p>
            <div class="faq__icon">&plus;</div>
          </div>
          <div class="faq">
            <p class="faq__text">What can I watch on Netflix?</p>
            <div class="faq__icon">&plus;</div>
          </div>
          <div class="faq">
            <p class="faq__text">Is Netflix good for kids?</p>
            <div class="faq__icon">&plus;</div>
          </div>
        </div>

        <div class="faq-cta">
          <p class="cta__text">Ready to watch? Enter your email to create or restart your membership.</p>
          <form class="form">
            <div class="form__group">
              <input type="email" class="form__input" placeholder="Email address">
              <button class="form__btn">Get Started
                <span class="form__btn-icon">&gt;</span>
              </button>
            </div>
          </form>
        </div>
      </section>
      <div class="divider"></div>
    </div>

    <footer class="footer">
      <div class="footer__inner">
        <div class="row row--1">
          <a href="#" class="footer__link">Questions? Contact us.</a>
        </div>

        <div class="row row--2">
          <div class="col">
            <a href="#" class="footer__link">FAQ</a>
            <a href="#" class="footer__link">Investor Relations</a>
            <a href="#" class="footer__link">Privacy</a>
            <a href="#" class="footer__link">Speed Test</a>
          </div>

          <div class="col">
            <a href="#" class="footer__link">Help Center</a>
            <a href="#" class="footer__link">Jobs</a>
            <a href="#" class="footer__link">Cookies Preference</a>
            <a href="#" class="footer__link">Legal Notices</a>
          </div>

          <div class="col">
            <a href="#" class="footer__link">Account</a>
            <a href="#" class="footer__link">Ways to Watch</a>
            <a href="#" class="footer__link">Corporate Information</a>
            <a href="#" class="footer__link">Only on Netflix</a>
          </div>

          <div class="col">
            <a href="#" class="footer__link">Media center</a>
            <a href="#" class="footer__link">Terms of Use</a>
            <a href="#" class="footer__link">Contact Us</a>
          </div>
        </div>

        <div class="row row--3">
          <a href="#" class="footer__link">@netflix.com 2022</a>
        </div>
      </div>
    </footer>

  </body>

</html>
